ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.header-right {
    margin-right: 10px;
    float: right;
  }

  .logo {
    height: 95px;
    margin-bottom: 25px
  }
  .center {
    text-align: center;
    margin-top: 150px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: Arial;
  }
  .footer-left {
    margin-right: 15px;
    float: left;
  }
  .footer-right {
      margin-right: 20px;
      float: right;
  }